* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background-repeat: no-repeat;
}
body {
  line-height: 1;
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
address,
cite,
dfn,
em,
var {
  font-style: normal;
}
ol,
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
a {
  background-color: transparent;
  color: inherit;
  font-size: inherit;
  text-decoration: none;
}
:focus,
a:active,
a:hover {
  outline: 0;
}
button,
input,
select,
textarea {
  font-size: inherit;
  margin: 0;
}
[type="reset"],
[type="submit"],
button,
html [type="button"] {
  -webkit-appearance: button;
  background-color: transparent;
  border: 0;
  color: inherit;
  cursor: pointer;
  padding: 0;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
  padding: 0;
}
input::-webkit-input-placeholder {
  font-weight: 300;
}
input::-ms-input-placeholder {
  font-weight: 300;
}
input::-moz-placeholder {
  font-weight: 300;
}
[type="number"] {
  -moz-appearance: textfield;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  height: auto;
  margin: 0;
}
[type="search"] {
  -webkit-appearance: textfield;
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
textarea {
  overflow: auto;
  resize: none;
}
select,
textarea {
  -webkit-appearance: none;
}
select {
  background-color: #fff;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
button.button,
input.button {
  border-radius: 0.7px;
  cursor: pointer;
  font-size: 10px;
  font-weight: 700;
  padding: 2px 12px;
}
button.button--primary,
input.button--primary {
  background-color: var(--background-colors-button-primary);
  border: 1px solid rgba(var(--border-colors-button-primary), 0.3);
  color: var(--colors-button-primary);
}
button.button--secound,
input.button--secound {
  background: var(--background-colors-button-secondary);
  border: 1px solid rgba(var(--border-colors-button-secondary), 0.3);
  border-radius: 0.7px;
  color: var(--colors-button-secondary);
}
button.button--update,
input.button--update {
  margin-right: 10px;
}
.arrow {
  border: solid rgba(0, 0, 0, 0.5);
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 4.8px;
}
.arrow.left {
  margin-left: 2px;
  margin-right: 4px;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}
.close {
  height: 20px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: calc(50% - 10px);
  width: 20px;
}
.close:hover {
  opacity: 0.3;
}
.close:after,
.close:before {
  background-color: #525252;
  content: " ";
  height: 19px;
  left: 8px;
  position: absolute;
  width: 1px;
}
.close:before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.close:after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
body.fixScroll:not(.unfixScroll) #shopify-section-countdown {
  display: none;
}
.countdown-section {
  position: relative;
  top: 0;
}
.countdown-section.sticky {
  position: sticky;
  top: 0;
  z-index: 3;
}
.countdown-section .countdown__container {
  -webkit-text-fill-color: #fff;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #000;
  font-size: 24px;
  line-height: 1;
  padding: 10px 20px;
  text-align: center;
}
@media only screen and (min-width: 750px) {
  .countdown-section .countdown__container {
    display: block;
    font-size: 42px;
    padding-bottom: 30px;
    padding-top: 30px;
  }
}
.countdown-section .countdown__container timer {
  -webkit-text-fill-color: #000;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #000;
  font-size: inherit;
}
.countdown-section .countdown__container timer span {
  font-size: inherit;
}
.countdown-section .countdown__container timer span[data-and] {
  display: none;
}
@media only screen and (min-width: 750px) {
  .countdown-section .countdown__container timer span,
  .countdown-section .countdown__container timer span[data-and] {
    display: inline;
  }
}
.countdown-section .countdown__container .countdown-link {
  font-size: 0;
  line-height: 0;
}
.header__container {
  margin: 0 auto;
}
@media only screen and (min-width: 1200px) {
  .header__container {
    max-width: 90vw;
  }
}
.header__logo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__logo-container--desktop {
  display: none;
}
.header__collection--title {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #000;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 25px;
  font-weight: 700;
  margin: 0;
  padding: 0 40px 0 5px;
}
.header__menu-list {
  max-height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  text-transform: uppercase;
}
.header__menu-list * {
  -webkit-transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}
.header__menu-list li.menu-spacing > span {
  margin: 10px 0;
}
.header__menu-list > li.open {
  padding-bottom: 26px;
}
@media only screen and (min-width: 1200px) {
  .header__menu-list > li.open {
    padding-bottom: 12px;
  }
}
.header__menu-list > li .child .header__menu-toggle + .grandchild {
  margin-top: 2px;
}
.header__menu-list.child-open li:not(.open) * {
  color: #666;
}
.header__menu-list.child-open li.open * {
  color: #000;
}
.header__menu-list a {
  color: #000;
  font-size: 10px;
  letter-spacing: 0.54px;
  line-height: 18px;
}
.header__menu-list li {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  position: relative;
}
.header__menu-list li.open > a,
.header__menu-list li.open > a span {
  font-weight: 700;
}
.header__menu-list li li a {
  font-size: 10px;
}
.header__menu-list li.active > a,
.header__menu-list li.child-active > a,
.header__menu-list li.grandchild-active > a {
  font-weight: 700;
}
.header__menu-list .child,
.header__menu-list .grandchild {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  position: relative;
}
.header__menu-list .child:before,
.header__menu-list .grandchild:before {
  border-left: 1px solid;
  content: "";
  height: calc(100% - 6px);
  left: 0;
  position: absolute;
  top: 3px;
  -webkit-transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}
.header__menu-list .child-count-1:before {
  height: 16px;
}
.header__menu-list .child-count-2:before {
  height: 32px;
}
.header__menu-list .child-count-3:before {
  height: 48px;
}
@media only screen and (max-width: 790px) {
  .header__menu-list .child-count-1:before {
    height: 24px;
  }
  .header__menu-list .child-count-2:before {
    height: 48px;
  }
  .header__menu-list .child-count-3:before {
    height: 72px;
  }
}
.header__menu-list .child,
.header__menu-list .grandchild {
  max-height: 0;
  overflow: hidden;
  padding-left: 7.5px;
  -webkit-transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);
  transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);
}
.header__menu-list .grandchild {
  margin-left: 5px;
}
.header__menu-list .close-icon {
  display: none;
}
.header__menu-list .open > .child,
.header__menu-list .open > .grandchild {
  max-height: 100vh;
  -webkit-transition: max-height 0.5s ease;
  transition: max-height 0.5s ease;
}
.header__menu-list .list-active .open-icon {
  display: none;
}
.header__menu-list .list-active .close-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__menu-list--light [class*="icon"],
.header__menu-list--light a {
  color: #fff;
}
.header__menu-list--light.child-open li:not(.open) * {
  color: #b6b6b7;
}
.header__menu-list--light.child-open li.open * {
  color: #fff;
}
.header__menu-list--light .child:before,
.header__menu-list--light .grandchild:before,
.header__menu-list--light .header__menu-seperator--active {
  border-color: #fff;
}
.header__menu--has-active a {
  color: #000;
  font-size: 10px;
  letter-spacing: 0.54px;
}
.header__menu--has-active .child-active > a,
.header__menu--has-active a:hover {
  color: #000;
}
.header__menu-toggle {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 15px;
  justify-content: center;
  position: relative;
  width: 15px;
}
.header__icon--world,
.header__menu-toggle,
.search-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.search-button {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 0.5rem;
}
.search-button .search-box {
  border: 0;
  border-bottom: 0.5px solid;
  border-radius: 0;
  height: 18px;
}
.header__cart--number,
.header__cart-container,
.header__login {
  font-size: 10px;
  letter-spacing: 0.54px;
  line-height: 20.3px;
}
.header__cart--number,
.header__cart-container {
  font-weight: 700;
}
.header__icons--container {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.header__icons--container > a {
  margin: 0 10px 0 0;
  text-transform: uppercase;
}
.header__icons--container > a:last-child {
  margin: 0;
}
@media only screen and (min-width: 1200px) {
  .header__icons--container {
    -webkit-transform: translateY(-11px);
    transform: translateY(-11px);
  }
}
.header__icons--container--light > a,
.header__icons--container--light span {
  color: #fff;
  -webkit-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}
.header__icons--container--light > a svg,
.header__icons--container--light span svg {
  fill: #fff;
  -webkit-transition: fill 0.3s ease-in-out;
  transition: fill 0.3s ease-in-out;
}
.header__navigation--container,
.header__navigation--second {
  display: none;
}
.header {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  margin: 35px 31px 0;
}
@media only screen and (min-width: 1200px) {
  .header {
    margin: 84px 0 0;
  }
}
.template-index .header {
  margin: 35px 31px;
}
@media only screen and (min-width: 1200px) {
  .template-index .header {
    margin: 84px 0 0;
  }
}
body:not(.search-overlay-opened) .header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 5px 0 0;
}
body:not(.search-overlay-opened) .header__logo--light svg {
  fill: #fff;
  -webkit-transition: fill 0.3s ease-in-out;
  transition: fill 0.3s ease-in-out;
}
.raws-svg-wide {
  display: none;
}
@media only screen and (min-width: 460px) {
  .raws-svg {
    display: none;
  }
  .raws-svg-wide {
    display: block;
  }
}
body:not(.search-overlay-opened) .header__menu--mobile {
  cursor: pointer;
}
body:not(.search-overlay-opened) .header__menu--mobile--light svg {
  fill: #fff;
  -webkit-transition: fill 0.3s ease-in-out;
  transition: fill 0.3s ease-in-out;
}
.header_bottom {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 25px 31px;
}
.header-bottom__link--container,
.header_bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header-bottom__link--container {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.header-bottom__link--container a {
  color: #666;
  font-weight: 700;
}
@media only screen and (max-width: 790px) {
  .header__menu--has-active a,
  .header__menu-list a,
  .header__menu-list li li a {
    font-size: 13px;
    line-height: 2;
  }
  .sidebar .header__cart--number,
  .sidebar .header__cart-container,
  .sidebar .header__login {
    font-size: 13px;
  }
  .sidebar .header__icon--world svg {
    height: 18px;
    width: 18px;
  }
}
@media only screen and (min-width: 1200px) {
  .header__menu--mobile,
  .header_bottom,
  .sidebar {
    display: none;
  }
  .header__navigation--container,
  .header__navigation--second {
    display: block;
    z-index: 1;
  }
  .header__navigation--container {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 177px;
    flex: 0 1 177px;
  }
  .header__navigation--container + .main__content {
    max-width: calc(100% - 177px) !important;
  }
  .header__navigation--container .header__menu-list {
    margin: 0;
  }
  .header__collection--title {
    padding: 0 100px 0 10px;
  }
}
.header-search-btn {
  margin: 0 10px 0 0;
}
.header-search-btn svg:hover {
  cursor: pointer;
}
.header__icons--container--light .header-search-btn svg {
  fill: #fff;
}
.header__icons--container--light
  .header-search-btn
  predictive-search
  form
  input[name="q"] {
  border-color: #fff;
  color: #fff;
}
.header predictive-search {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: flex-end;
  position: relative;
}
.header predictive-search form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  width: 0;
}
.header predictive-search form.visible {
  width: 100%;
}
.header predictive-search form input[name="q"] {
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid rgba(var(--border-colors-button-secondary), 0.3);
  border-radius: 0;
  height: auto;
  padding: 5px 0;
}
.header predictive-search form:not(.visible) input[name="q"] {
  padding: 0;
}
.header predictive-search #close-search-results-panel-btn {
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  align-items: center;
  display: none;
  justify-content: center;
}
.header
  .header-search-btn.open
  predictive-search
  #close-search-results-panel-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header_bottom predictive-search form {
  width: 0;
}
.header_bottom predictive-search form input[name="q"] {
  border: 0;
  padding: 0;
}
.header_bottom predictive-search #close-search-results-panel-btn {
  display: none;
}
.sidebar predictive-search form {
  width: 0;
}
.sidebar predictive-search form input[name="q"] {
  border: 0;
  padding: 0;
}
.sidebar predictive-search #close-search-results-panel-btn {
  display: none;
}
#mobile-search-overlay {
  left: 0;
  position: absolute;
  right: 0;
  top: 140px;
  z-index: 2;
}
@media screen and (max-width: 1200px) {
  #mobile-search-overlay {
    top: 70px;
  }
}
#mobile-search-overlay predictive-search {
  display: none;
}
#mobile-search-overlay.opened {
  background: #fff;
  display: block;
  min-height: 100%;
  padding: 2% 15%;
  width: 100%;
}
@media screen and (max-width: 1200px) {
  #mobile-search-overlay.opened {
    padding: 2% 30px;
  }
}
#mobile-search-overlay.opened predictive-search {
  margin: 23px 0;
}
@media screen and (max-width: 1200px) {
  #mobile-search-overlay.opened predictive-search {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
#mobile-search-overlay.opened predictive-search form {
  -ms-flex-preferred-size: 95%;
  flex-basis: 95%;
}
#mobile-search-overlay.opened predictive-search form input[type="search"] {
  border: 0;
  font-size: 14px;
}
@media screen and (max-width: 1200px) {
  #mobile-search-overlay.opened predictive-search form input[type="search"] {
    padding: 0;
  }
}
#mobile-search-overlay.opened predictive-search button {
  -ms-flex-preferred-size: 5%;
  flex-basis: 5%;
}
body.search-overlay-opened #main .main__content {
  max-height: 0;
  overflow: hidden;
}
@media screen and (min-width: 1200px) {
  .desktop-view {
    display: block;
  }
  .mobile-view {
    display: none;
  }
}
@media screen and (max-width: 1199px) {
  .desktop-view {
    display: none;
  }
  .mobile-view {
    display: block;
  }
}
#predictive-search {
  background: #fff;
  -webkit-box-shadow: 0 4px 4px #a2a2a2;
  box-shadow: 0 4px 4px #a2a2a2;
  display: none;
  max-height: 300px;
  overflow: auto;
  padding: 8px;
  position: absolute;
  top: 30px;
  width: 200px;
}
#predictive-search
  #predictive-search-results-list
  li.predictive-search__list-item
  img.predictive-search__image {
  max-width: 80px;
}
.currency__modal {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  justify-content: center;
  left: 0;
  opacity: 0;
  position: fixed;
  top: 0;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  visibility: hidden;
  width: 100vw;
  z-index: 1;
}
.currency__modal.open {
  opacity: 1;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  visibility: visible;
  z-index: 11;
}
.currency__modal-bg {
  background-color: #000;
  height: 100%;
  opacity: 0.8;
  position: absolute;
  width: 100%;
}
.currency__modal-container {
  background: #fff;
  margin: 100px auto auto;
  max-width: 410px;
  position: relative;
  width: 90%;
}
.currency__modal-close.modal-exit {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  text-rendering: auto;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  align-items: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-appearance: auto;
  -moz-appearance: auto;
  appearance: auto;
  background: none;
  background: rgba(0, 0, 0, 0.3);
  background-color: -internal-light-dark(#efefef, #3b3b3b);
  border: none;
  -o-border-image: initial;
  border-image: initial;
  border-radius: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #000;
  color: -internal-light-dark(#000, #fff);
  cursor: default;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: inline-block;
  display: flex;
  font-weight: 700;
  height: 2.8rem;
  height: 28px;
  justify-content: center;
  letter-spacing: normal;
  margin: 0;
  outline: none;
  padding: 1px 6px;
  position: absolute;
  right: 15px;
  right: 1.5rem;
  text-align: center;
  text-indent: 0;
  text-shadow: none;
  text-transform: none;
  top: 15px;
  top: 1.5rem;
  width: 2.8rem;
  width: 28px;
  word-spacing: normal;
  z-index: 1;
}
.currency__modal-close.modal-exit svg {
  width: 1.3rem;
}
.currency__modal-close.modal-exit svg path {
  fill: #fff;
}
.currency__modal-content {
  padding: 50px 20px;
}
.currency__modal-header {
  font-weight: 700;
  padding: 0 0 20px;
  text-align: center;
}
.currency__modal-header.last-child {
  margin-top: 20px;
}
.currency__select-container {
  border: 1px solid #bbbcbc;
  border-radius: 0.4rem;
  margin: auto;
  max-width: 250px;
  position: relative;
}
.currency__select-container select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: none;
  border: none;
  color: #444;
  height: 35px;
  padding: 0 20px;
  width: 100%;
}
.currency__select-container .select-arrow {
  margin-top: -0.1rem;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.currency__select-container .select-arrow:last-child {
  height: 1.2rem;
  height: 12px;
  margin-top: 0;
  right: 1.5rem;
  top: 40%;
  -webkit-transform: rotate(90deg) translateY(-50%);
  transform: rotate(90deg) translateY(-38%);
  width: 1.2rem;
  width: 12px;
}
.currency__select-container .select-arrow * {
  fill: #000;
}
.currency-button-container {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  margin-top: 25px;
  text-align: center;
}
.currency-button-container .currency-button {
  background: #000;
  border-radius: 50px;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  min-width: 270px;
  padding: 15px 30px;
}
.settingsmobile-current {
  height: 100%;
}
.settingsmobile-current .shopify-currency-form,
.settingsmobile-current .shopify-localization-form {
  width: 50%;
}
.settingsmobile-current .currency__select-container {
  border: none;
  border-radius: unset;
  height: 100%;
  max-width: 100%;
}
.settingsmobile-current .currency__select-container.last-child {
  border-left: 1px solid #fff;
}
.settingsmobile-current .currency__select-container select {
  color: #fff;
  height: 100%;
}
.settingsmobile-current .currency__select-container .select-arrow * {
  fill: #fff;
}
.sidebar {
  background: #fff;
  bottom: 0;
  -webkit-box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.22);
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.22);
  height: calc(var(--vh) * 100);
  overflow: scroll;
  padding: 42px 21px 15px 15px;
  position: fixed;
  top: 0;
  -webkit-transition: all 0.45s cubic-bezier(0.29, 0.63, 0.44, 1);
  transition: all 0.45s cubic-bezier(0.29, 0.63, 0.44, 1);
  width: 190px;
  z-index: 10;
}
.sidebar--right {
  right: 0;
  -webkit-transform: translateX(calc(100% + 4px));
  transform: translateX(calc(100% + 4px));
}
.sidebar--right.active {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}
body.template-index .sidebar {
  -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.22);
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.22);
}
body.sidebar--open .background-image-all {
  background-position-x: 100%;
}
.sidebar__header {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: flex-end;
}
.sidebar__close--container {
  height: 20px;
  position: relative;
  width: 17px;
  z-index: 2;
}
.sidebar__close--container .close {
  top: 0;
  width: 17px;
}
.sidebar__icons--container {
  margin-bottom: 21px;
}
.sidebar__icons--container .header-search-btn {
  margin-bottom: 11px;
}
.sidebar__icons--container .header__login {
  margin: 0 10px 0 0;
}
.sidebar__icons--container .header__icon--world {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  margin-bottom: 11px;
  margin-right: 60%;
  max-width: 18px;
}
@media only screen and (min-width: 460px) {
  body.sidebar--open .background-image-all {
    background-position-x: 90%;
  }
  .sidebar {
    padding: 42px 41px 0 25px;
  }
  .sidebar--right.active {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@media only screen and (min-width: 790px) {
  .sidebar--right.active {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@media only screen and (max-width: 460px) {
  #launcher {
    display: none;
  }
  body.sidebar--open #launcher {
    display: block;
  }
}
.footer {
  bottom: 0;
  position: relative;
  width: 100%;
}
body:not(.template-index) .footer__separator-container {
  margin: 0 auto;
  padding: 0;
}
body:not(.template-index) .footer-separator {
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  padding: 0;
}
@media only screen and (min-width: 1200px) {
  body:not(.template-index) .footer__separator-container {
    max-width: 90vw;
    padding: 0;
  }
}
footer {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  margin: 28px 0 8px;
  padding: 0 30px;
}
@media only screen and (min-width: 1200px) {
  footer {
    padding-left: 72px;
    padding-right: 72px;
  }
}
@media only screen and (max-width: 790px) {
  footer {
    height: 100% !important;
  }
}
.footer__copy-right-text {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 700;
  height: 21px;
  margin: 0 0 20px;
}
.footer__copy-right-text svg {
  margin: 0 10px 0 0;
}
@media only screen and (max-width: 460px) {
  .footer__copy-right-text--light {
    color: #fff;
    -webkit-transition: color 0.3s ease-in-out;
    transition: color 0.3s ease-in-out;
  }
  .footer__copy-right-text--light svg {
    fill: #fff;
    -webkit-transition: fill 0.3s ease-in-out;
    transition: fill 0.3s ease-in-out;
  }
}
.footer__newsletter--container {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: flex-end;
}
.footer__newsletter--headline {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: rgba(var(--colors-text), 1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  letter-spacing: 0.23px;
  margin: 0 15px 0 0;
  text-transform: uppercase;
  white-space: nowrap;
}
.footer__newsletter--container-inner {
  -webkit-box-align: start;
  -ms-flex-align: start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  align-items: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
}
@media only screen and (min-width: 790px) {
  .footer__newsletter--container-inner {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    justify-content: flex-end;
    min-height: 51px;
  }
}
.footer__newsletter--container-inner form {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
}
@media only screen and (max-width: 460px) {
  .footer__newsletter--container-inner form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
  }
  .footer__newsletter--container-inner form .klaviyo_field_group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 10px;
  }
  .footer__newsletter--container-inner form input[type="email"] {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 100%;
    flex: 1 0 100%;
  }
}
.footer__newsletter--container-inner form .klaviyo_field_group {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
}
.footer__newsletter--container-inner form .klaviyo_messages {
  -webkit-box-flex: 0;
  -ms-flex: none;
  flex: none;
}
.footer__newsletter--container-inner input[type="email"],
.footer__newsletter--container-inner input[type="text"] {
  border: 0.3px solid rgba(107, 107, 107, 0.3);
  height: 17.1px;
  padding: 0 5px 2px;
}
@media screen and (min-width: 790px) {
  .footer__newsletter--container-inner input[type="email"],
  .footer__newsletter--container-inner input[type="text"] {
    max-width: 183px;
    width: 100%;
  }
}
.footer__newsletter--container-inner
  input[type="email"]::-webkit-input-placeholder,
.footer__newsletter--container-inner
  input[type="text"]::-webkit-input-placeholder {
  color: #b0b0b0;
  letter-spacing: 0.23px;
}
.footer__newsletter--container-inner input[type="email"]::-moz-placeholder,
.footer__newsletter--container-inner input[type="text"]::-moz-placeholder {
  color: #b0b0b0;
  letter-spacing: 0.23px;
}
.footer__newsletter--container-inner input[type="email"]:-ms-input-placeholder,
.footer__newsletter--container-inner input[type="text"]:-ms-input-placeholder {
  color: #b0b0b0;
  letter-spacing: 0.23px;
}
.footer__newsletter--container-inner input[type="email"]::-ms-input-placeholder,
.footer__newsletter--container-inner input[type="text"]::-ms-input-placeholder {
  color: #b0b0b0;
  letter-spacing: 0.23px;
}
.footer__newsletter--container-inner input[type="email"]::placeholder,
.footer__newsletter--container-inner input[type="text"]::placeholder {
  color: #b0b0b0;
  letter-spacing: 0.23px;
}
@media only screen and (max-width: 790px) {
  .footer__newsletter--container-inner input[type="text"] {
    max-width: 50px;
  }
}
@media only screen and (min-width: 790px) {
  .footer__newsletter--container-inner input[type="email"] {
    min-width: 183px;
  }
  .footer__newsletter--container-inner input[type="text"] {
    max-width: 50px;
  }
  .footer__newsletter--container-inner input[type="submit"] {
    padding-left: 14px;
  }
}
.footer__newsletter--container-inner input[type="submit"] {
  color: #828282;
  font-weight: 700;
  height: unset;
  letter-spacing: 0.23px;
  padding-right: 0;
  text-transform: uppercase;
}
@media only screen and (max-width: 460px) {
  .footer__newsletter--container-inner .success_message {
    width: calc(100vw - 60px);
  }
  .footer__newsletter--sent {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .footer__newsletter--sent .footer__newsletter--headline {
    margin-bottom: 1rem;
  }
  html[lang="de"]
    .footer__newsletter--container-inner
    form
    .success_message
    br {
    display: none;
  }
}
.footer__payment-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.footer__payment-list li {
  margin: 0 10px 0 0;
}
.footer__payment-list svg {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
.footer__payment-headline {
  color: #828282;
  letter-spacing: 0.23px;
  margin: 0 0 15px;
}
[data-toggle-trigger-name] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  white-space: nowrap;
}
[data-toggle-trigger-name] .close-toggle,
[data-toggle-trigger-name] .open {
  margin: 0 0 0 5px;
  width: 4px;
}
[data-toggle-trigger-name].active .open,
[data-toggle-trigger-name] .close-toggle {
  display: none;
}
[data-toggle-trigger-name].active .close-toggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
[data-toggle-name] {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.5s ease-out;
  transition: max-height 0.5s ease-out;
}
[data-toggle-name].active {
  max-height: 120px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.footer__links-container,
.footer__social-media-container {
  display: none;
}
.footer__links-seperator,
.footer__links-top > a:not(:last-child),
.footer__payment-header {
  margin: 0 10px 0 0;
}
.footer__newsletter-header,
.footer__payment-header {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer__social-media-container {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.footer__social-media-container li {
  list-style: none;
  margin: 0 13px 0 0;
}
.footer__social-media-container li:last-child {
  margin: 0;
}
.footer__social-media-container svg {
  height: 15px;
  -o-object-fit: contain;
  object-fit: contain;
  opacity: 0.41;
  width: 15px;
}
@media only screen and (max-width: 460px) {
  body.template-index footer {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  body.template-index .footer__links-container,
  body.template-index .footer__social-media-container {
    display: none;
  }
}
#shopify-section-footer {
  background: #fff;
}
.footer__social-media-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer__links-container {
  -webkit-box-flex: 0;
  display: block;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  margin: 0 0 15px;
}
.footer__links-container a {
  text-transform: uppercase;
}
footer {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: flex-start;
  justify-content: space-between;
}
.footer__newsletter--container > div,
.footer__payment-container > div {
  padding: 15px 0 0;
}
.footer__links-top {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0;
}
@media only screen and (min-width: 1200px) {
  .footer__links-top {
    height: 21px;
  }
}
.footer__links-top .footer__newsletter-header > *,
.footer__links-top .footer__payment-header > *,
.footer__links-top > *,
.footer__links-top a {
  color: #828282;
  letter-spacing: 0.45px;
}
@media only screen and (min-width: 1200px) {
  footer {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    max-width: 90vw;
    padding: 0;
  }
  .footer__links-container {
    -webkit-box-flex: 0;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    -ms-flex: none;
    flex: none;
    margin: 0;
    order: 1;
  }
  .footer__social-media-container {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }
  .footer__payment-headline {
    display: none;
  }
  .footer__payment-list {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
  .footer__payment-list li:last-child {
    margin-right: 0;
  }
}
body:not(.template-index),
html {
  height: 100%;
}
.cc-window {
  background-color: rgba(0, 0, 0, 0.5) !important;
  height: 100% !important;
  max-width: 100% !important;
  overflow: auto !important;
  width: 100% !important;
  z-index: 9999999998 !important;
}
.cc-window > .cookieconsent-wrapper {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  margin: auto !important;
  max-width: 100% !important;
  width: 450px !important;
}
div.cc-window {
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: normal !important;
  -webkit-box-align: center !important;
  -ms-flex-align: center !important;
  align-items: center !important;
  -ms-flex-direction: row !important;
  flex-direction: row !important;
}
.cookieconsent-wrapper:before {
  -ms-flex-preferred-size: 100%;
  background-image: url(/cdn/shop/files/pesologowhite.png?v=1613180659);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
  -webkit-filter: invert(1);
  filter: invert(1);
  flex-basis: 100%;
  height: 35px;
  margin: 10px;
  text-align: center;
  width: 100%;
}
.cookieconsent-wrapper .cc-highlight {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-flow: column;
  flex-flow: column;
}
.cookieconsent-wrapper .cc-highlight .cc-settings:hover {
  background-color: transparent;
  color: inherit;
}
.cookieconsent-wrapper {
  background-color: #fff !important;
  padding: 16px;
}
.cookieconsent-wrapper > .cc-compliance {
  font-size: 16px;
  margin-top: 12px !important;
}
.cookieconsent-wrapper .cc-compliance .cc-btn.cc-deny {
  background: transparent;
  color: #000;
  margin: 0 auto 4px;
}
.cookieconsent-wrapper .cc-compliance .cc-btn.cc-allow {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
  width: 100%;
}
.cookieconsent-wrapper .cc-compliance .cc-btn.cc-settings {
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  border: 0;
  font-size: 12px;
  margin: 16px auto 0 !important;
  order: 2;
  text-decoration: underline;
}
.cc-message {
  color: #000;
  font-size: 14px;
  margin: 8px 0;
  padding-top: 0 !important;
  text-align: center !important;
}
.cc-message .cc-link {
  opacity: 0.8 !important;
}
.cc-message .cc-link,
.cc-message .cc-link:hover {
  color: #000 !important;
  display: inline-block !important;
  margin: 0 !important;
  padding: 0.2em !important;
  text-decoration: underline !important;
  text-transform: none !important;
}
.cc-message .cc-link:hover {
  opacity: 1 !important;
}
.cc-compliance,
.cc-message {
  -ms-flex-preferred-size: 100% !important;
  flex-basis: 100% !important;
  width: 100% !important;
}
.cc-dismiss {
  display: none !important;
}
.cc-compliance .cc-settings {
  margin-left: 0 !important;
}
.cc-settings-view {
  background-color: #000;
}
.cc-consent-verification {
  margin-top: 16px !important;
}
.cc-consent-verification a {
  color: #000 !important;
  font-weight: inherit !important;
  text-shadow: none !important;
}
.cc-btn-accept-all:hover {
  background-color: #222 !important;
  color: #fff !important;
}
.cc-settings-dialog span.cc-checkbox.cc-checkbox-disabled {
  background-color: #eee !important;
}
.cc-btn-accept-selected {
  margin-left: 0 !important;
}
button.cc-btn.cc-btn-accept-selected:hover {
  color: #000 !important;
}
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: rgba(var(--colors-text), 1);
  font-family: Lato, sans-serif;
  font-size: 10px;
  font-stretch: normal;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.45px;
  line-height: 18px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: rgba(var(--colors-headlines), 1);
  font-weight: 900;
  text-transform: uppercase;
}
body,
html {
  height: auto;
  min-height: 100vh;
}
body.template-index {
  max-height: calc(var(--vh) * 100);
  min-height: calc(var(--vh) * 100);
}
.text-uppercase {
  text-transform: uppercase;
}
body {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
}
body.no-scroll {
  height: 100%;
  overflow: hidden;
  position: relative;
}
main {
  -webkit-box-flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 1;
  flex: 1;
  padding: 0 30px 30px;
  position: relative;
  width: 100%;
}
@media only screen and (min-width: 1200px) {
  main {
    margin: 0 auto;
    max-width: 90vw;
    padding-left: 0;
    padding-right: 0;
    padding-top: 18px;
  }
}
main .main__content {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
}
.hidden,
.hide {
  display: none;
}
input[type="date"],
input[type="datetime-local"],
input[type="datetime"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
textarea {
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  appearance: none !important;
  background: #fff;
  border: 1px solid rgba(var(--border-colors-button-secondary), 0.3);
  border-radius: 2px;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  padding: 5px 10px;
}
input[type="checkbox"] {
  height: unset;
  width: unset;
}
select {
  padding: 0 10px;
}
input,
select {
  height: 45px;
  max-width: 100%;
  width: 100%;
}
img {
  border: 0;
  display: block;
  height: auto;
  max-width: 100%;
}
.template-policy .shopify-policy__container {
  max-width: unset;
  padding: 0;
}
strong {
  font-weight: 700;
}
#main .shopify-policy__container .shopify-policy__body li,
#main .shopify-policy__container .shopify-policy__body ol,
#main .shopify-policy__container .shopify-policy__body ul {
  list-style: initial;
}
#main .shopify-policy__container .shopify-policy__body ol,
#main .shopify-policy__container .shopify-policy__body ol li {
  list-style: upper-roman;
}
#main .shopify-policy__container .shopify-policy__body ul {
  list-style: initial;
  margin-left: 1in;
}
#main .shopify-policy__container .shopify-policy__body ul.list-decimal,
#main .shopify-policy__container .shopify-policy__body ul.list-decimal li {
  font-size: 1em;
  list-style: decimal;
}
#main .shopify-policy__container .shopify-policy__body a {
  color: #000;
  font-weight: 700;
  text-decoration: underline;
}
#main .shopify-policy__container .shopify-policy__body p {
  overflow-wrap: break-word;
}
#main
  .shopify-policy__container
  .shopify-policy__body
  .privacy-policy
  > ol:not(:first-of-type):nth-of-type(2) {
  counter-reset: li 1;
  list-style: none;
}
#main
  .shopify-policy__container
  .shopify-policy__body
  .privacy-policy
  > ol:not(:first-of-type):nth-of-type(3) {
  counter-reset: li 2;
  list-style: none;
}
#main
  .shopify-policy__container
  .shopify-policy__body
  .privacy-policy
  > ol:not(:first-of-type):nth-of-type(4) {
  counter-reset: li 3;
  list-style: none;
}
#main
  .shopify-policy__container
  .shopify-policy__body
  .privacy-policy
  > ol:not(:first-of-type):nth-of-type(5) {
  counter-reset: li 4;
  list-style: none;
}
#main
  .shopify-policy__container
  .shopify-policy__body
  .privacy-policy
  > ol:not(:first-of-type):nth-of-type(6) {
  counter-reset: li 5;
  list-style: none;
}
#main
  .shopify-policy__container
  .shopify-policy__body
  .privacy-policy
  > ol:not(:first-of-type):nth-of-type(7) {
  counter-reset: li 6;
  list-style: none;
}
#main
  .shopify-policy__container
  .shopify-policy__body
  .privacy-policy
  > ol:not(:first-of-type):nth-of-type(8) {
  counter-reset: li 7;
  list-style: none;
}
#main
  .shopify-policy__container
  .shopify-policy__body
  .privacy-policy
  > ol:not(:first-of-type):nth-of-type(9) {
  counter-reset: li 8;
  list-style: none;
}
#main
  .shopify-policy__container
  .shopify-policy__body
  .privacy-policy
  > ol:not(:first-of-type):nth-of-type(10) {
  counter-reset: li 9;
  list-style: none;
}
#main
  .shopify-policy__container
  .shopify-policy__body
  .privacy-policy
  > ol:not(:first-of-type):nth-of-type(11) {
  counter-reset: li 10;
  list-style: none;
}
#main
  .shopify-policy__container
  .shopify-policy__body
  .privacy-policy
  > ol:not(:first-of-type):nth-of-type(12) {
  counter-reset: li 11;
  list-style: none;
}
#main
  .shopify-policy__container
  .shopify-policy__body
  .privacy-policy
  > ol:not(:first-of-type):nth-of-type(13) {
  counter-reset: li 12;
  list-style: none;
}
#main
  .shopify-policy__container
  .shopify-policy__body
  .privacy-policy
  > ol:not(:first-of-type):nth-of-type(14) {
  counter-reset: li 13;
  list-style: none;
}
#main
  .shopify-policy__container
  .shopify-policy__body
  .privacy-policy
  > ol:not(:first-of-type):nth-of-type(15) {
  counter-reset: li 14;
  list-style: none;
}
#main
  .shopify-policy__container
  .shopify-policy__body
  .privacy-policy
  > ol:not(:first-of-type):nth-of-type(16) {
  counter-reset: li 15;
  list-style: none;
}
#main
  .shopify-policy__container
  .shopify-policy__body
  .privacy-policy
  > ol:not(:first-of-type):nth-of-type(17) {
  counter-reset: li 16;
  list-style: none;
}
#main
  .shopify-policy__container
  .shopify-policy__body
  .privacy-policy
  > ol:not(:first-of-type):nth-of-type(18) {
  counter-reset: li 17;
  list-style: none;
}
#main
  .shopify-policy__container
  .shopify-policy__body
  .privacy-policy
  > ol:not(:first-of-type):nth-of-type(19) {
  counter-reset: li 18;
  list-style: none;
}
#main
  .shopify-policy__container
  .shopify-policy__body
  .privacy-policy
  > ol:not(:first-of-type):nth-of-type(20) {
  counter-reset: li 19;
  list-style: none;
}
#main
  .shopify-policy__container
  .shopify-policy__body
  .privacy-policy
  > ol:not(:first-of-type):nth-of-type(21) {
  counter-reset: li 20;
  list-style: none;
}
#main
  .shopify-policy__container
  .shopify-policy__body
  .privacy-policy
  > ol:not(:first-of-type):nth-of-type(22) {
  counter-reset: li 21;
  list-style: none;
}
#main
  .shopify-policy__container
  .shopify-policy__body
  .privacy-policy
  > ol:not(:first-of-type):nth-of-type(23) {
  counter-reset: li 22;
  list-style: none;
}
#main
  .shopify-policy__container
  .shopify-policy__body
  .privacy-policy
  > ol:not(:first-of-type)
  > li::marker {
  content: counter(li, upper-roman) ". ";
  counter-increment: li;
}
@media only screen and (max-width: 767px) {
  #main .shopify-policy__container .shopify-policy__body table {
    display: block !important;
    margin-left: -10px;
    max-width: calc(100vw - 35px);
    overflow: scroll;
  }
  #main .shopify-policy__container .shopify-policy__body table th {
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
  }
  #main
    .shopify-policy__container
    .shopify-policy__body
    table
    tr
    > th:first-child[style] {
    width: 30%;
  }
  #main .shopify-policy__container .shopify-policy__body table td {
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
  }
  #main
    .shopify-policy__container
    .shopify-policy__body
    table
    tr
    > td:last-child {
    white-space: nowrap;
  }
}
.stretched-link:after {
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
.stretched-link-hitzone {
  position: relative;
}
